/* Ajout des polices personnalisées */
@font-face {
    font-family: 'Product Sans B';
    src: url('fonts/Product\ Sans\ Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans';
    src: url('fonts/Product\ Sans\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Product Sans';
}

html, body {
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

#main {
    width: 100%;
    height: 100vh;
    background-color: orangered;

}
nav {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    /* création d'une espace équitable entre les éléments de mon nav */
    justify-content: space-between; 
    padding: 0vw 10vw;
    z-index: 99;
    /* background-color: antiquewhite; */
}

nav a, i {
    font-size: 1vw;
    text-decoration: none;
    color: #fff;
}

nav i {
    font-size: 1.5vw;
}

.cntr-nav {
    display: flex;
    gap: 3vw;
}

.one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg, rgb(250, 166, 0), rgb(245, 93, 0));
}

#fanta {
    position: absolute;
    width: 40%;
    z-index: 2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
} 

#orange-cut {
    position: absolute;
    top: 10%;
    left: 32%;
    width: 15%;
    z-index: 1;
}

#orange {
    width: 15%;
    position: absolute;
    z-index: 3;
    top: 60%;
    right: 35%;
}

#fanta-title {
    position: absolute;
    z-index: 2;
}

.one h1 {
    font-size: 25vw;
    font-family: 'Product sans B';
    color: #fff;
}

/* my leaves  */

#leaf {
    width: 20%;
    position: absolute;
    top: 5%;
    right: 80%;
    transform: rotate(45deg);
}

#leaf2 {
    width: 12%;
    position: absolute;
    top: 60%;
    left: 80%;
    transform: rotate(-90deg);
}
#leaf3 {
    width: 20%;
    position: absolute;
    top: 0%;
    right: 0%;
}

/* div class two  */

.two {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #662115;
}

.lft-two, .rght-two {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
    width: 50%;
    height: 100%;
    /* background-color: rgb(96, 155, 71); */
}

.lft-two svg {
    width: 90%;
    margin-top: 50vh;
    transform: rotateX(60deg);
}

.rght-two h1 {
    color: #fff;
    font-size: 2.5vw;
}

.rght-two p {
    color: #fff;
    width: 80%;
    text-align: justify;
}

/* style for three */

.three {
    display: flex;
    position:relative;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100%;
    height: 100vh;
    background-color: orange;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    width: 25vw;
    height: 75vh;
    margin-top: 10vh;
    border-radius: 20px;
    background-color: #fff;
}

/* ici on applique du style sur notre première card */

/* .card:nth-child(1) {
    background-color: red;
} */

.card h1 {
    margin-top: 40vh;
    font-size: 3vw;
}

.card button {
    font-size: 1vw;
    border-radius: 50px;
    background-color: rgb(245, 165, 0);
    color: #fff;
    border: none;
    padding: 1vw 2vw;

}

#coca {
    top: 13%;
    position: absolute;
    width: 13%;
}

#pepsi {
    top: 10%;
    position: absolute;
    width: 19%;
}

.lemon {
    position: absolute;
    width: 25vw;
    top: -5%;
}



